#app {

}
.form-switch {
  position: absolute;
  left: 60%;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}
.btn {
  width: 100%;
}
table {
  margin: 0 auto;
}
th, td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
a {
  font-size: 24px;
  font-weight: bold;
}
.container {
  .btn-success {
    display: block;
    width: 200px;
    margin: 100px auto;

  }
}

